---
import "../styles/global.css"
import Footer from "../components/Footer.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<title>dirty road</title>
	</head>
	<body>
    <Footer/>
	</body>
</html>
