---
---
<Footer>
  <img src="#" alt="logo dirty road">
  <div>
    iconos o enlaces
  </div>
  <div>
    devlog
    estado sistema
  </div>
  <div>
    copi
    Tech Stack
    ubicacion
  </div>
</Footer>
