---
import {Instagram, Twitter, Github, Youtube} from 'lucide-astro'
---
<footer>
  <img src="#" alt="logo dirty road">
  <div>
    <Instagram/>
    <Twitter/>
    <Github/>
    <Youtube/>
  </div>
  <div>
    <a href="#">
      devlog
    </a>
    <p>
      1.0.0
    </p>
  </div>
  <div>
    <p>
      Copyright © 2026 dirty road. Todos los derechos reservados.
    </p>
    <p>
      Built with: astro | TypeScript | Tailwind css | Cloudflare
    </p>
    <p>
      colombia-boyaca-saboya/chiquinquira
    </p>
  </div>
</footer>
