---
---
<Header>
  <img src="#" alt="logo dirty road">
  <nav>
    <a href="#">inicio</a>
    <a href="#">mecanicas</a>
    <a href="#">galeria</a>
    <a href="#">devlog</a>
    <a href="#">cumunidad</a>
  </nav>
  <button>
    descargar
  </button>
</Header>
