---
---
<header
class="flex flex-row justify-between p-5"
>
    <h1>Dirty Road</h1>
    <nav class="flex gap-19" >
      <a href="#">inicio</a>
      <a href="#">mecanicas</a>
      <a href="#">galeria</a>
      <a href="#">devlog</a>
      <a href="#">cumunidad</a>
    </nav>
  <button class="relative right-10 bg-black text-white p-2 rounded-lg cursor-pointer">
    descargar
  </button>
</header>
